.filme{
    min-height: 120vh;
    max-width: 90%;
    position: relative;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    justify-content: center;
    
}
.div-section{
    gap: 80px;
    display: flex;
    justify-content: space-between;
}
.text-group-filme{
    justify-content: center;
    align-items: center;
    position: relative;
}
.image-filme{
    position: relative;
    size: 10px;
}
.foto-painel{
    position: relative;
    grid-area: painel;
}

.filme--title{
    font-family: 'Electrolize', sans-serif;
    grid-area: titulo;
    display: flex;
    font-size: 10rem;
    color: #270F34;
    position: relative;
}
.filme--text{
    font-family: 'Montserrat', sans-serif;
    max-height: 600px;
    grid-area: texto;
    position: relative;
    display: flex;
    width: 50rem;
    font-size: 1.5rem;
    color: #75106A;
}