
.home{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    font-family: 'Blade Runner Movie Font', sans-serif;
    align-items: center;
    
}
.titulo-group-home{
    justify-content: flex-start;
    position: relative;
}
.home video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.home--title{
    justify-content: center;
    font-size: 8rem;
    color: #f8bfe5;
}
.home--subtitle{
    position: relative;
    font-size: 5rem;
    stroke: black;
    color: #f8bfe5;
}