
.home{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    font-family: 'Blade Runner Movie Font', sans-serif;
    align-items: center;
    color: #f8bfe5;
    
}
.titulo-group-home{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.home--title{
    justify-content: center;
    font-size: 8rem;
}
.home--subtitle{
    
    position: relative;
    font-size: 5rem;
    stroke: black;
}
@media (max-width: 1200px) {

    .home{
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
    }
    .titulo-group-home{
        margin-left: 1rem;
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        width: 600px;
    }
    .home--title, 
    .home--subtitle {
        display: flex;
        justify-content: start;
    }
}
@media(max-width: 800px){
    .home{
        gap: 0.5rem;
        align-items: flex-start;      
    }
    .home--subtitle{
        font-size: 2rem;
    }
    .home--title{
        font-size: 4rem;
        align-items: flex-end;
        text-align: start;
    }
}