.main-box{
    width: 100%;
    opacity: 0.95;
    position: relative;
    background-color: #ffffff;
    height: 2000px;
    width: 100%;
    
}
.container{
    display: none;
}

section{
    justify-content: center;
    align-items: center;
    width: 100%;
}