.personagens{
    width: 100%;
    min-width: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #c9bee2;
}
.personagens nav{
    max-width: 1500px;
    margin: auto;
}
.perfil{
    height:70vh;
    width: 150vh;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    border: solid .5px #270F34;
    place-content: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Electrolize', sans-serif;
    display: flex;
}
.menu-personagens{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom:2rem;
}

.menu-personagens img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.menu-personagens li{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    cursor: pointer;
    transition: all .5s;
}
.menu-personagens li:hover{
    -webkit-filter: drop-shadow(0 0 40px rgb(214, 206, 92));
    filter: drop-shadow(0 0 25px rgb(110, 16, 82));
}

.k,
.rick,
.joi,
.mariette,
.luv,
.ana,
.joshi,
.freysa,
.wallace{
    display: none;
}
ul, ol, li{
    list-style: none;
}

.video-perfil{
    position: relative;
    margin-left: 3rem;
    justify-content: center;
    font-style: italic;
    align-items: center;
    font-size: 1.3rem;
    color: #37150a;
}
.video-perfil video{
    height: 400px;
    align-self: center;
    max-width: 700px;
    
}

.nome-personagem{
    font-size: 5rem;
}
.nome-ator{
    font-size: 2.2rem;
}
.bio-personagem{
    font-size: 1.6rem;
    color: #ffff;
    margin-top: 1rem;
}
.description{
    font-family: 'Electrolize', sans-serif;
    margin-top: 4rem;
    margin-right: 3rem;
    text-align: end;
    color: #000000;
    gap: 1rem;
}