
body{
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-areas: "content";
    color: #ffffff;
}
main{
    opacity: 0.95;
    position: relative;
    background-color: #ffffff;
    max-height: 500vh;
    width: 100%;
}
section{
    margin: auto;
}
html{
    scroll-behavior: smooth;
}
footer{
    display: flex;
}