
body{
    display: grid;
    font-family: 'Roboto', sans-serif;
    grid-template-areas: "content";
    color: #ffffff;
}
main{
    width: 100%;
    opacity: 0.95;
    position: relative;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}
section{
    margin: auto;
}